<div class="address"><%= appointment.address.to_s%></div>
<div class="start"><%= appointment.start_at.strftime("%m/%d %I:%M%p")%></div>
<div class="end"><%= appointment.end_at.strftime("%m/%d %I:%M%p")%></div>